body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar  */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer  */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards  */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect  */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page  */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map style  */

#map{
    height: 400px;
    width: 80vh;
}

/* Adjustments for mobile screens */
@media only screen and (max-width: 768px) {
    /* General container styles for better alignment */
    .container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        padding: 10px !important;
    }
    
    /* Styling the review section */
    .review {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    
    /* Map adjustments for mobile */
    #map {
        width: 100% !important;
        height: 300px !important; /* Adjust height as needed */
        margin-bottom: 20px !important;
    }

    /* Ensuring buttons and interactive elements are properly spaced */
    .button {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    /* Adjust the footer */
    footer {
        text-align: center !important;
        width: 100% !important;
        padding: 10px !important;
    }
}
